.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 45%;
}

.edit-question{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    width: 535px;
    max-width: 535px;
}

.tcontain {
    width: 100%;
}

.type {
    color: var(--grey);
}