.input-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 512px;
  height: 210px;
}

.img-area {
  width: 595px;
  height: 403px;
  display: "flex";
  flex-direction: "column";
}

.subtext {
  color: var(--grey);
}
